{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div class="card mb-3">
            <div class="card-body">
                {% if box.image %}
                <img class="boxes card-img-top" src="/media/{{ box.image }}"></img>
                {% endif %}
                <h1>{{ box.name }}</h1>
                <p>{{ box.description }}</p>
                <h4>What's in the Box?</h4>
                <ul>
                <li><p>{{ box.contents }}</p></li>
                </ul>
                    <a href="{% url 'boxes' %}" class="btn btn-default">Back to Boxes</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}