{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">
    {% for box in boxes %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12 col-md-4 col-md-offset-0">
        <div class="card">
            <div class="card-body">
                <img class="boxes card-img-top" src="{{ MEDIA_URL }}{{ box.image }}"></img>
                <h3>{{ box.name }}</h3>
                <p class="box-description">{{ box.description }}</p>
                <p>£ {{ box.price }}</p>
        </div>
            <div class="card-footer">
            <form method="POST" action="{% url 'add_to_cart' box.id %}">
                {% csrf_token %}
                <div class="input-group">
                <input class="form-control" type="number" min='1' max='999' name="quantity" placeholder="Quantity" required />
                <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Add</button>
                </span>
                </div>
            </div>
            </form>
        </div>
       
    </div>
    {% endfor %}
</div>
{% endblock %}