{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Wellness Boxes</title>
    {% block head_js %} {% endblock head_js %}
</head>

<body>
    
    <!--  navbar    -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'index' %}">Mallorcan Mind Box</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'concept' %}">Concept <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'boxes' %}">Boxes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Our Following <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'get_posts' %}">Blog <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <span class="navbar-text active">
                <a class="nav-link" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
            </span>
            <span class="navbar-text active">
                <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
            </span>
            {% else %}
            <span class="navbar-text active">
                <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i>  Register <span class="sr-only">(current)</span></a>
            </span>
            <span class="navbar-text active">
                <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user"></i>  Login <span class="sr-only">(current)</span></a>
            </span>
            {% endif %}
            <span class="navbar-text active">
                <a href="{% url 'view_cart' %}"> Basket <i class="fas fa-shopping-cart"></i>
                {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}
                </a>
            </span>
        </div>
    </nav>

    <!--  navbar    -->
 <div class="container">  
    <div class="row">
            {% block content %} {% endblock %}
    </div>
    </div> 
    <footer>
        <div>
            <p>Made by Code Institute Bootcamper Heather Caputo</p>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
